---
layout: _layouts/default.twig
outputPath: php-prague/index.html # available on "/php-prague"
id: conference
---

{% block content %}

<div class="container">
    <div class="row text-center">
        <div class="col-md-12">
            <img src="/assets/images/conferences/prague-2018/logo.png" style="width:100%" alt="PHP Prague 2016">
            <hr>
            <br>

            <h2>23. 6. 2018 - 2nd PHP Conference in PHP Prague</h2>

            {#<h3 class="mb-5">#}
                {#<a href="https://www.smsticket.cz/vstupenky/12880-phpprague-conference-2018">Tickets on SALE! for 200,-</a>#}
            {#</h3>#}

            {#<a href="https://www.smsticket.cz/vstupenky/12880-phpprague-conference-2018">#}
                {#<img width="284" src="/assets/images/conferences/prague-2018/ticket-php-prague.png" alt="ticket">#}
            {#</a>#}

            {#<br>#}
            {#<br>#}
            {#<br>#}

            <p>
                <a href="https://www.facebook.com/events/204178450306613/">
                    <em class="fa fa-facebook fa-fw"></em>
                    Watch FB Event
                </a> for News
                |
                What was <a href="/konference/php-prague-2016-v-paralelnim-polis">1st PHP Prague like?</a>
            </p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-6">
            <img src="/assets/images/conferences/prague-2016/fun.jpg" style="width: 100%">
        </div>
        <div class="col-md-6 text-center">
            <img src="/assets/images/conferences/prague-2016/beer.jpg" style="width: 100%">
        </div>
    </div>

    <hr>

    <h2 class="text-center" id="talks">Line Up of {{ talks|length }} Talks ↓</h2>

    <h3 class="mb-5 text-center">10:00 - 19:00</h3>

    <p>
        Each talk has 20 min + 10 min for questions.
    </p>
    <p>
        Followed by <strong>10 minutes break</strong> to setup recording and chat about interesting points of previous talks :).
    </p>

    <br>

    <table class="table table-responsive table-bordered">
        <thead class="table-inverse">
            <th>Start</th>
            <th>Program</th>
            <th>Video</th>
            <th>Slides</th>
        </thead>
        <tr class="table-success">
            <th>10:00</th>
            <th colspan="3">Welcome Keynote</th>
        </tr>
        {% for talk in talks %}
            <tr>
                <td>{{ talk.time }}</td>
                <td>
                    {{ talk.speaker }} - {{ talk.talk }}
                </td>
                <td>
                    {% if talk.video is defined %}
                        <a href="{{ talk.video }}" class="btn btn-danger btn-sm">
                            <em class="fa fa-fw fa-youtube"></em>
                            Watch Video
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if talk.slides is defined %}
                        <a href="{{ talk.slides }}" class="btn btn-warning btn-sm">
                            <em class="fa fa-fw fa-slideshare"></em>
                            See Slides
                        </a>
                    {% endif %}
                </td>
            </tr>
            {% if talk.time == '11:30' %}
                <tr class="table-success">
                    <th>12:00</th>
                    <th colspan="3">Lunch Time</th>
                </tr>
            {% endif %}

            {% if talk.time == '15:00' %}
                <tr class="table-success">
                    <th>15:30</th>
                    <th colspan="3">Coffee Break</th>
                </tr>
            {% endif %}
        {% endfor %}
        <tr class="table-success">
            <th>18:10</th>
            <th colspan="3">Talks End</th>
        </tr>
        <tr class="table-warning">
            <th>18:30</th>
            <th colspan="3">After-Party with Beer on the Place</th>
        </tr>
    </table>

    <hr>

    <h2 class="text-center">Meet the Speakers</h2>

    <div class="card-columns">
        {% for talk in talks %}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{ talk.talk }}</h4>

                    {% if talk.speaker_url is defined %}
                        <a href="{{ talk.speaker_url }}">
                            {{ talk.speaker }}
                        </a>
                    {% endif %} {% if talk.country is defined %}from {{ talk.country }}{% endif %}
                </div>
                <img class="card-img-bottom" src="{{ talk.speaker_photo }}" alt="{{ talk.speaker }}">
            </div>
        {% endfor %}
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>
                <em class="fa fa-heart fa-fw"></em>
                Thanks to Our Partners
            </h2>
            <p>
                Big thanks to our partners, who help us to create lovely day, with fresh drinks, tasty food and helped us to spread love in our community.
            </p>


            <h3 style="color: goldenrod; padding: 1em">Gold partner</h3>
            <a href="https://lmc.jobs.cz/"><img width="300" src="/assets/images/conferences/prague-2018/partners/lmc.png" alt="LMC"></a>

            <h3 style="color: silver; padding: 1em">Silver partners</h3>

            <a href="https://www.cdn77.jobs/"><img width="200" src="/assets/images/conferences/prague-2018/partners/cdn.png" alt="CDN 77"></a>
            <a href="https://www.keboola.com/"><img width="200" src="/assets/images/conferences/prague-2018/partners/keboola.png" alt="Keboola"></a>
            <a href="https://it.neformallne.cz/pozice/backend-php-developer-web-mall-cz/"><img width="200" src="/assets/images/conferences/prague-2018/partners/mall.png" alt="Mall"></a>


            <h3 style="color: #CD7F32; padding: 1em">Bronze partners</h3>

            <a href="https://www.simplia.cz/"><img width="150" src="/assets/images/conferences/prague-2018/partners/simplia.png" alt="Simplia"></a>
            <a href="https://www.amateri.com/cs/kariera/"><img width="150" src="/assets/images/conferences/prague-2018/partners/amateri.png" alt="Amateri.com"></a>
            <a href="https://www.jetbrains.com/phpstorm/"><img width="150" src="/assets/images/conferences/prague-2018/partners/jetbrains.png" alt="JetBrains"></a>

            <br><br>

        </div>
    </div>
</div>

{% endblock %}
