<div class="container mt-4" id="top-promo-bar">
    <div class="row">
        <div class="col-md-6 mb-3">
            {% set displayedPostCount = 0 %}

            <strong>Nejnovější články</strong>:<br>
            {% for post in posts %}
                {% if (post.getDateInFormat('Y-m-d') < "now"|date('Y-m-d')) and (post.redirect is not defined) and (displayedPostCount < 3) %}
                    <a href="/{{ post.relativeUrl }}">{{ post.title }}</a>{% if loop.last == false %}<br>{% endif %}

                    {% set displayedPostCount = displayedPostCount + 1 %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-6 mb-3">
            {% set displayedLectureCount = 0 %}

            {% for lecture in lectures %}
                {% if lecture.isActive() and displayedLectureCount <= 3 %}
                    {% if displayedLectureCount == 0 %}
                        <strong>Nejbližší školení</strong>:<br>
                    {% endif %}

                    <a href="/{{ lecture.getRelativeUrl() }}/">{{ lecture.getHumanDate() }} - {{ lecture.getTitle()|raw }}</a>{% if loop.last == false %}<br>{% endif %}
                    {% set displayedLectureCount = displayedLectureCount + 1 %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
