---
layout: default
---

{% block content %}

<div class="section">
    <div class="container" id="meetups">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>
                    <em class="fa fa-fw fa-beer"></em>
                    Přijď na pokec
                </h2>

                <p>
                    Pořádáme srazy po celé zemi - <strong>v Praze, Brně, Ostravě a Hradci Králové</strong>. Přijď si poslechnout zkušené lidi a pořešit, co tě pálí.
                </p>
                <p>
                    Na každém srazu zazní 2-3 přednášky z praxe. Můžeš tak za jeden večer poznat hned několik nových technologií.
                    <br>
                    A pokud ti něco unikne, <a href="https://www.youtube.com/symfonisti">můžeš se mrknout na záznamy na Youtube</a>.
                </p>

                <br>

                <h3>
                    Kdy a kde bude další sraz?
                </h3>

                <h3>
                    Sleduj <a href="https://www.facebook.com/symfonisti/">naši Facebook stránku</a> nebo <a href="http://twitter.com/symfonisti">@symfonisti</a>
                    a o žádný už nepřijdeš
                </h3>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>
                    <em class="fa fa-fw fa-heart"></em>
                    Rosteme díky našim partnerům
                </h2>

                <div id="sponsor-logos">
                    <a href="http://lmc.eu">
                        <img src="{{ site.url }}/images/sponsors/lmc.png">
                    </a>
                    <a href="http://skrz.cz">
                        <img src="{{ site.url }}/images/sponsors/skrz.png">
                    </a>
                    <a href="http://www.etnetera.cz">
                        <img src="{{ site.url }}/images/sponsors/etnetera.png">
                    </a>
                    <a href="http://www.shopsys.cz">
                        <img src="{{ site.url }}/images/sponsors/shopsys.png">
                    </a>
                </div>

                <br>

                <p>...a spousta dalších</p>

                <br>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <em class="fa fa-thumbs-o-up fa-fw"></em>
                        Máte taky zájem o partnerství?
                        Máme pro vás <a href="{{ site.url }}/stante-se-partnerem">několik možností</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>
                    <em class="fa fa-fw fa-plug"></em>
                    Zapoj se
                </h2>

                <div id="icons">
                    <div class="col-md-9 col-md-offset-3">
                        <a href="https://twitter.com/symfonisti">
                            <em class="fa fa-twitter fa-fw"></em>
                            Sleduj nás
                        </a>
                    </div>
                    <div class="col-md-9 col-md-offset-3">
                        <a href="https://www.youtube.com/symfonisti/videos">
                            <em class="fa fa-youtube-play fa-fw"></em>
                            Připomeň si přednášky na YouTube
                        </a>
                    </div>
                    <div class="col-md-9 col-md-offset-3">
                        <a href="https://twitter.com/hashtag/symfonycz">
                            <em class="fa fa-twitter-square fa-fw"></em>
                            Tweetuj #symfonycz
                        </a>
                    </div>
                    <div class="col-md-9 col-md-offset-3">
                        <a href="https://www.facebook.com/groups/ceska.symfony.komunita/">
                            <em class="fa fa-facebook fa-fw"></em>
                            Přidej se do skupiny
                        </a>
                    </div>
                    <div class="col-md-9 col-md-offset-3">
                        <a href="https://gitter.im/webuni/symfony">
                            <em class="fa fa-github fa-fw"></em>
                            Chceš s něčím poradit? Zeptej se na Gitteru
                        </a>
                    </div>
                    <div class="col-md-9 col-md-offset-3">
                        <a href="https://www.facebook.com/groups/ceska.symfony.komunita.prace">
                            <em class="fa fa-money fa-fw"></em>
                            Hledáš práci nebo programátory? Mrkni do této skupiny
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row text-center">
            <h2>
                <em class="fa fa-fw fa-train"></em>
                Kdo už jede na Symfony
            </h2>

            <div class="col-md-12">
                <p>
                    Určitě znáš <a href="https://speakerdeck.com/odolbeau/symfony-at-blablacar">BlaBlaCar</a>,
                    <a href="https://www.youtube.com/watch?v=CFQaVDR96x4">Spotify</a>
                    nebo
                    <a href="https://www.youtube.com/watch?v=RlkCdM_f3p4">YouPorn</a>.
                    <br>
                    <small>(Odkazy vedou na případovky. Mrkni se na tu, která je ti blízká.)</small>
                </p>

                <p>
                    A kdo je to u nás?
                    To ti řekne <a href="{{ site.url }}/prehled-ceskych-firem">přehled českých firem podle měst</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>
                    <em class="fa fa-fw fa-envelope-o"></em>
                    Odebírej naše newslettery
                </h2>

                <p>Naše Symfony komunita je natolik aktivní, že pro tebe máme <a href="https://www.facebook.com/symfonisti/posts/1012393335477143">rovnou dva</a>.</p>

                <div class="row text-center">
                    <div class="col-md-6">
                        <h3>Měsíčník pro Symfonisty (Praha)</h3>
                        <p>
                            O lidech - srazy, akce s Czechitas, konference, akce kolem PHP, kam komunita směřuje a další...
                        </p>

                        <p>
                            <a href="http://bit.ly/mesicnik-pro-symfonisty" class="btn btn-success">
                                &nbsp;Přidej se k odběru
                            </a>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <h3>Symfony Zpravodaj (Brno)</h3>
                        <p>
                            O IT zdrojích - články u nás, co se řeší na Gitteru, technické novinky ve světě, jaké budou srazy a další...
                        </p>

                        <p>
                            <a href="http://bit.ly/symfony-zpravodaj" class="btn btn-success">
                                &nbsp;Přidej se k odběru
                                <em class="fa fa-fw fa-angle-double-right"></em>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>
                    <em class="fa fa-fw fa-keyboard-o"></em>
                    Napiš nám
                </h2>

                <p>
                    Chceš se taky přidat nebo nás podpořit?
                </p>

                <p>
                    Pošli nám email <a href="mailto:info@symfony.cz">info@symfony.cz</a> nebo rovnou zavolej <a href="callto:+420776778332">776 778 332</a>.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
