---
layout: default
---

{% block content %}

<div class="section">
    <div class="container" id="meetups">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>
                    <em class="fa fa-fw fa-beer"></em>
                    Přijď na pokec
                </h2>

                <p>
                    Pořádáme srazy po celé zemi - <strong>v Praze, Brně, Ostravě, Hradci Králové, Českých Budějovicích a Pardubicích</strong>.
                </p>
                <p>
                    Na každém srazu zazní 2-3 přednášky z praxe. Během večera tak poznáš hned několik nových technologií.
                    <br>
                    Uniklo ti něco? <a href="https://www.youtube.com/symfonisti">Mrkni na záznamy na Youtube</a>.
                </p>

                <br>

                <h3>
                    <strong>Kdy</strong> a <strong>kde</strong> bude další sraz?
                </h3>

                <p>
                    To se včas dozvíš na <a href="https://www.facebook.com/symfonisti/">Facebooku</a> nebo <a href="http://twitter.com/symfonisti">@symfonisti</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>
                    <em class="fa fa-fw fa-heart"></em>
                    Rosteme díky našim partnerům
                </h2>

                <div id="sponsor-logos">
                    <a href="http://lmc.eu">
                        <img src="{{ site.url }}/images/sponsors/lmc.png">
                    </a>
                    <a href="http://skrz.cz">
                        <img src="{{ site.url }}/images/sponsors/skrz.png">
                    </a>
                    <a href="http://www.shopsys.cz">
                        <img src="{{ site.url }}/images/sponsors/shopsys.png">
                    </a>
                </div>

                <br>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <em class="fa fa-thumbs-o-up fa-fw"></em>
                        Máte taky zájem o partnerství?
                        Máme pro vás <a href="{{ site.url }}/stante-se-partnerem">několik možností</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>
                    <em class="fa fa-fw fa-plug"></em>
                    Zapoj se
                </h2>

                <div id="icons">
                    <div class="col-md-9 col-md-offset-3">
                        <a href="https://twitter.com/symfonisti">
                            <em class="fa fa-twitter fa-fw"></em>
                            Sleduj nás
                        </a>
                    </div>
                    <div class="col-md-9 col-md-offset-3">
                        <a href="https://www.youtube.com/symfonisti/videos">
                            <em class="fa fa-youtube-play fa-fw"></em>
                            Připomeň si přednášky na YouTube
                        </a>
                    </div>

                    <div class="col-md-9 col-md-offset-3">
                        <a href="https://www.facebook.com/groups/symfony.komunita/">
                            <em class="fa fa-facebook fa-fw"></em>
                            Přidej se do skupiny
                        </a>
                    </div>
                    <div class="col-md-9 col-md-offset-3">
                        <a href="https://gitter.im/webuni/symfony">
                            <em class="fa fa-github fa-fw"></em>
                            Chceš s něčím poradit? Zeptej se na Gitteru
                        </a>
                    </div>
                    <div class="col-md-9 col-md-offset-3">
                        <a href="https://www.facebook.com/groups/symfony.komunita.prace">
                            <em class="fa fa-money fa-fw"></em>
                            Hledáš práci nebo programátory? Mrkni do této skupiny
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row text-center">
            <h2>
                <em class="fa fa-fw fa-train"></em>
                <a href="{{ site.url }}/prehled-firem-podle-mest">Které firmy už jedou na Symfony</a>
            </h2>
        </div>
    </div>
</div>

<div class="section">
    <a name="newsletter"></a>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>
                    <em class="fa fa-fw fa-envelope-o"></em>
                    Chceš to stručně a jednou za měsíc?
                </h2>

                <div class="row text-center">
                    <div class="col-md-8 col-md-offset-2">
                        <p>
                            <a href="http://bit.ly/mesicnik-pro-symfonisty" class="btn btn-success">
                                Odebírej newsletter
                                <em class="fa fa-fw fa-angle-double-right"></em>
                            </a>
                        </p>

                        <br>

                        <p>
                            Dozvíš se, co se děje u nás kolem PHP a kam komunita směřuje.
                            <br>
                            Nudit se nebudeš: už jsme soutěžili o <a href="https://twitter.com/vaclavpavek/status/757616431727017984">Symfony slona</a> a PHPStorm licenci.
                        </p>

                        <h3>
                            Posuď sám &ndash; mrkni na starší čísla
                        </h3>

                        {#<div class="text-center">#}
                            <script language="javascript" src="//tomasvotruba.us8.list-manage.com/generate-js/?u=dcf4beafc191796bf6c47321f&fid=14029&show=10" type="text/javascript"></script>
                        {#</div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>
                    <em class="fa fa-fw fa-keyboard-o"></em>
                    Napiš nám
                </h2>

                <p>
                    Chceš se taky přidat nebo nás podpořit?
                </p>

                <p>
                    <a href="https://www.facebook.com/symfonisti">Napiš nám na FB</a>
                    nebo pošli <a href="mailto:info@symfony.cz">email na info@symfony.cz</a>.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
