---
layout: _layouts/default.twig
title: "Investuj do sebe a přijď na školení"
id: lectures
outputPath: "vzdelavej-se/index.html"
lecture_references_limit: 4
---

{% block content %}
    <div id="trainings">
        <div class="section">
            <h1 class="text-center">{{ title }}</h1>

            <p class="text-center subtitle">
                Rozšiř si své know-how od odborníků v PHP.<br>
                Pořádáme školení Symfony 4, Doctrine, Git, PHPStorm, Continuous delivery a další.
            </p>
        </div>

        <hr>

        <div class="container">
            <div class="row">
                {% for lecture in lectures %}
                    {% if lecture.isActive() %}
                        <div class="flex col-md-6">
                            <h2>
                                <a href="/{{ lecture.getRelativeUrl() }}/">
                                    <strong>{{ lecture.getTitle()|raw }}</strong>
                                </a>
                            </h2>

                            <div class="text-center pt-xl-5 pb-xl-5 border-secondary border mb-3 mt-3">
                                {% set rawUsePhoto = users[lecture.getUserId()].photo %}
                                {% set photoUrl %}{% if rawUsePhoto matches "#http#" %}{{ rawUsePhoto }}{% else %}/assets/images/people/{{ rawUsePhoto }}{% endif %}{% endset %}

                                <img width="120" src="{{ photoUrl }}" class="img-thumbnail mr-4 rounded-circle pull-right">

                                <img src="{{ lecture.getImage() }}" width="150">
                            </div>

                            {% if lecture.getPerex() %}
                                <p>{{ lecture.getPerex()|raw }}</p>
                            {% endif %}

                            <p>Příští termín: <strong>{{ lecture.getHumanDate() }}</strong></p>
                            <p>
                                Lektor:
                                <strong>
                                    {% if users[lecture.getUserId()].url is defined %}
                                        <a href="{{ users[lecture.getUserId()].url }}">
                                    {% endif %}

                                    {{ users[lecture.getUserId()].name }}
                                    </a>
                                </strong>
                            </p>

                            <a href="{{ lecture.getFormLink() }}" class="btn btn-success btn-xs-block-only" target="_blank">
                                <em class="fa fa-fw fa-handshake-o"></em>
                                Přihlásit se
                            </a>

                            <br>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <br>
            <br>

            <div class="text-center text-smaller">
                <p>
                    Další kurzy, které teď nemají vypsaný termín:
                </p>
                <p>
                    {% for lecture in lectures %}
                        {% if lecture.isActive() == false and lecture.id != 7 %} {# id 7 is just a demo #}
                            <li>
                                <a href="/{{ lecture.getRelativeUrl() }}/">{{ lecture.getTitle()|raw }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </p>
            </div>

            <br>

            <hr>

            <div class="text-center">
                <h2 class="mb-5">Přes 50 spokojených účastníků</h2>

                <div class="row narrower">
                    {% for lecture_reference in lecture_references %}
                        {% if loop.counter < lecture_references_limit %}
                            {% include "_snippets/lecture/lectureReference.twig" with { "lecture_reference": lecture_reference, "active_lecture": lectures[lecture_reference.lecture_id] } %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <hr>

            <div class="text-center">
                <h2>Už 9 proběhlých školení</h2>

                <p>Od <strong>května 2017</strong> jsme zorganizovali 9 veřejných školení od 5 odborných školitelů.</p>

                <br>

                <div id="gallery" class="row">
                    <div class="col-md-3 col-sm-4 col-6">
                        <img src="/assets/images/lectures/lecture1.jpg">
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <img src="/assets/images/lectures/lecture9.jpg">
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <img src="/assets/images/lectures/lecture4.jpg">
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <img src="/assets/images/lectures/lecture3.jpg">
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <img src="/assets/images/lectures/lecture11.jpg">
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <img src="/assets/images/lectures/lecture6.jpg">
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <img src="/assets/images/lectures/lecture12.jpg">
                    </div>
                    <div class="col-md-3 col-sm-4 col-6">
                        <img src="/assets/images/lectures/lecture10.jpg">
                    </div>
                </div>
            </div>

            <br>

            <hr>

            <div class="text-center" id="kde-skolime">
                <h2>Kde školíme</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            V prostorách <strong>karlínského <a href="https://www.footshop.cz/cs/">Footshopu</a></strong>.
                        </p>

                        {# todo <img src="/assets/images/places/footshpo.jpg" width="400" class="img-thumbnail">#}
                    </div>
                    <div class="col-md-6">
                        <p>
                            V krásných prostorách <strong>pražského <a href="http://node5.cz/kontakty/">Node5</a></strong>.
                        </p>

                        <img src="/assets/images/places/node5.jpg" width="400" class="img-thumbnail">
                    </div>
                </div>

            </div>

            <hr>

            <div class="row">
                <div class="col-md-6">
                    <h3 class="text-center mb-4">Jak to probíhá</h3>
                    <ul>
                        <li>přihlásíš se přes formulář na kurz</li>
                        <li>až se termín naplní, pošleme ti fakturu</li>
                        <li>tu zaplatíš a můžeš se těšit na školení</li>
                        <li><strong>pozvánku ti pošleme cca týden před termínem</strong></li>
                    </ul>
                </div>

                <div class="col-md-6">
                    <h3 class="text-center mb-4">Co máš v ceně kurzu?</h3>
                    <ul>
                        <li>certifikát o absolvování kurzu</li>
                        <li>u celodenních kurzů tě zveme na oběd</li>
                        <li>nepodnikající studenti denního studia mají 50 % slevu</li>
                    </ul>

                    <p>Nejsme plátci DPH.</p>
                </div>
            </div>

            <br>

            <hr>

            <h2 class="text-center mb-4">Chcete školitele jen pro sebe?</h2>

            <p>
                <a href="/#team">Napište nám</a> a zařídíme plnou pozornost jen pro váš projekt u vás ve firmě.
            </p>

            <br>

            <hr>

            <h2 class="text-center">Partnerská školení</h2>

            <p>
                Nauč se <a href="https://www.michalspacek.cz/skoleni/bezpecnost-php-aplikaci">Bezpečnost PHP aplikací</a> a další <a href="https://www.michalspacek.cz/skoleni">školení</a> v podání security experta <strong>Michala Špačka</strong>.
            </p>

            <p>
                Zajdi taky na <a href="https://www.skoleniphp.cz/skoleni-nette-vyvoj-webovych-aplikaci">Vývoj webových aplikací v Nette Framework</a> a další <a href="https://www.skoleniphp.cz/skoleni">školení</a> PHP Guru <strong>Davida Grudla</strong>.
            </p>

            <p>
                A nasaj
                <a href="https://www.vzhurudolu.cz/kurzy/webova-koderina">Dnešní webovou kodéřinu</a>,
                <a href="https://www.vzhurudolu.cz/kurzy/wordpress">Wordpress</a>
                nebo
                <a href="https://www.vzhurudolu.cz/kurzy/javascript">Javascript</a>
                na
                <a href="https://www.vzhurudolu.cz/kurzy">frontendových školeních</a>
                ze <strong>Vzhůru dolů</strong>.
            </p>

            <p>
                Nastartuj se v PHP nebo si pořádně ujasni základy na <a href="https://www.martinhujer.cz/skoleni/">školeních</a>
                <a href="https://www.martinhujer.cz/skoleni/uvod-do-php/">Úvod do PHP</a> a
                <a href="https://www.martinhujer.cz/skoleni/objektove-programovani-v-php/">Objektové programování v PHP</a>,
                která pořádá <strong>Martin Hujer</strong>.
            </p>
        </div>
    </div>
{% endblock %}
